@inject IDateTimeService DateTimeService

@{
	DateTimeService.Data = 10;
}

<p>Current Time: @DateTimeService.GetCurrentTime()</p>
<h2>@DateTimeService.Data</h2>

<form asp-action="Privacy" asp-controller="Home">
	<button type="submit">click me</button>
</form>