<form asp-controller="Home" asp-action="ModelBinding_Form"  method="get">
	<input name="Id" type="number" placeholder="Enter Id"/>
	<input name="Name" type="text" placeholder="Enter Name"/>
	<input type="submit"/>
</form>




@* <form asp-controller="Home" asp-action="ModelBinding_Form_Bind" method="post" >
	<input name="sd.Id" type="number" placeholder="Enter Student Id"/>
	<input name="sd.Name" type="text" placeholder="Enter Student Name"/>
	<input name="dd.Id" type="number" placeholder="Enter Department Id"/>
	<input name="dd.Name" type="text" placeholder="Enter Department Name"/>
	<input type="submit"/>
</form> *@




@*  <form asp-controller="Home" asp-action="ModelBinding_Query">
	<input name="Id" type="number" value = 1 placeholder="Enter Id"/>
	<input name="Name" type="text" value = "pavan" placeholder="Enter Name"/>
	<input type="submit"/>
</form> *@
