@* <h3>Student Name : @ViewData["StudentName"]</h3>
<h3>Student College : @ViewData["College"]</h3> *@

@model List<Student>

<h1>Heading</h1>

@Html.Partial("_StudentList", Model)

@Html.Partial("PartialView2", Model)