<form asp-action="Save" asp-controller="Home" method="post">
	<input type = "number" name = "Id" placeholder = "Student Id"/>
	<input type = "text" name = "Name" placeholder = "Student Name"/>
	<input type = "text" name = "SecretKey" placeholder = "Secret Key"/>
	<input type="Submit"/>
</form>