<h2>Student List</h2>

<!-- Search & Filter Form-->

<form method="get" asp-action="Index">


	 <!-- Search -->
    <input type="text" name="searchString" placeholder="Search by name" />

	 <input type = "number" name="searchNumber" palceholder="Search by Id"/> 


	<!-- Department Filter -->

	<select name="department">
		<option value="" selected disabled>All Departments</option>
		<option value="CSE">CSE</option>
		<option value="DS">Data Science</option>
		<option value="CYS">Cyber Security</option>
		<option value="BS">Business System</option>
		<option value="AIDS">Artifical Intelligence & Data Science</option>
		<option value="EEE">EEE</option>
		<option value="AIML">Artifical Intelligence & Machine Learning</option>
	</select>

	 <!-- Sorting -->
    <select name="sortOrder">
		<option value="" selected disabled>All Categories</option>
        <option value="">Sort by Name (A-Z)</option>
        <option value="name_desc">Sort by Name (Z-A)</option>
        <option value="age_asc">Sort by Age (Youngest First)</option>
        <option value="age_desc">Sort by Age (Oldest First)</option>
    </select>

	<button type="submit">Apply</button>

</form>



<!-- Result Table -->

 <table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Age</th>
			<th>Department</th>
		</tr>
	</thead>

	<tbody>
		@foreach(var student in Model)
		{
			<tr>
				<td>@student.Id</td>
				<td>@student.Name</td>
				<td>@student.Age</td>
				<td>@student.Department</td>
			</tr>
		}
	</tbody>
</table> 
