
<form asp-action="UserValidation" method="post">
    <input type="text" name="UserName" required placeholder="Enter UserName"/>
    <br />
    <input type="password" name="Password" required placeholder="Enter Password"/>
    <br />
    <button type="submit">Login</button>
</form>

